$orange-light:#EBAD65;
$orange:#F2753B;
$black-opa30:#000000, 30% opacity;
$brown:#8f5932;
.text-brown{
    color: $brown;
}
.text-orange{
    color: $orange;
}
.text-orange-light{
    color: $orange-light;
}
.text-gray-light{
    color: #949494;
}
.text-black-opa30{
    color: $black-opa30;
}